body {
    font-family: Arial, sans-serif;
    background: #f2f4f8;
    text-align: center;
}

.card {
    background: white;
    width: 350px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

img {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}

table {
    width: 100%;
    margin-top: 10px;
}

td {
    padding: 6px;
}

button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #3498db;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #2980b9;
}
